[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[dev-packages]
jedi = "==0.11.1"
black = "*"
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
